# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [201]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import sys
import statistics

# Import API key
sys.path.append('..')
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [202]:
# load csv from previous exercise
City_List_Info = pd.read_csv("../Weather/Output/City_List_Info.csv")
City_List_Info

,Unnamed: 0,City Name,Latitude,Longitude,Maximum Temp,Humidity,Cloud Coverage,Wind Speed,Country,Date and Time
0,0,thompson,55.7435,-97.8558,42.30,94,100,17.11,CA,1628740895
1,1,busselton,-33.6500,115.3333,62.04,79,93,7.45,AU,1628740777
2,2,codrington,-38.2667,141.9667,57.81,68,50,15.21,AU,1628740896
3,3,rikitea,-23.1203,-134.9692,73.09,69,1,7.18,PF,1628740897
4,4,saint-philippe,-21.3585,55.7679,71.19,82,39,13.71,RE,1628740897
...,...,...,...,...,...,...,...,...,...,...
628,628,korem,12.5058,39.5228,58.37,76,20,0.60,ET,1628741287
629,629,belmonte,-15.8631,-38.8828,66.70,86,10,3.09,BR,1628741288
630,630,nalbari,26.4456,91.4354,85.98,88,100,8.75,IN,1628741288
631,631,moba,33.2288,105.0179,59.85,85,100,1.07,CN,1628741289
632,632,qeshm,26.9581,56.2719,93.07,81,4,10.54,IR,1628741289

In [203]:
# remove Unnamed column
City_List_Info_df = pd.DataFrame(City_List_Info.loc[:,~City_List_Info.columns.str.contains('^Unnamed')])
City_List_Info_df

,City Name,Latitude,Longitude,Maximum Temp,Humidity,Cloud Coverage,Wind Speed,Country,Date and Time
0,thompson,55.7435,-97.8558,42.30,94,100,17.11,CA,1628740895
1,busselton,-33.6500,115.3333,62.04,79,93,7.45,AU,1628740777
2,codrington,-38.2667,141.9667,57.81,68,50,15.21,AU,1628740896
3,rikitea,-23.1203,-134.9692,73.09,69,1,7.18,PF,1628740897
4,saint-philippe,-21.3585,55.7679,71.19,82,39,13.71,RE,1628740897
...,...,...,...,...,...,...,...,...,...
628,korem,12.5058,39.5228,58.37,76,20,0.60,ET,1628741287
629,belmonte,-15.8631,-38.8828,66.70,86,10,3.09,BR,1628741288
630,nalbari,26.4456,91.4354,85.98,88,100,8.75,IN,1628741288
631,moba,33.2288,105.0179,59.85,85,100,1.07,CN,1628741289
632,qeshm,26.9581,56.2719,93.07,81,4,10.54,IR,1628741289

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [204]:
#configure gmaps
gmaps.configure(api_key=g_key)

In [205]:
#Use the Lat and Lng as locations and Humidity as the weight
locations = City_List_Info_df[["Latitude","Longitude"]]
humidity = City_List_Info_df["Humidity"]

In [206]:
# get base map and set center and zoom level
m = gmaps.figure(center=(15.0, -10.0), zoom_level=2)
m

Figure(layout=FigureLayout(height='420px'))

In [207]:
#Plot Weighted Heatmap
heatmap_layer = gmaps.WeightedHeatmap(locations=locations ,weights= humidity, dissipating=False)

#Add Weighted Heatmap layer to map
m.add_layer(heatmap_layer)

# set intensity of heat map
heatmap_layer.max_intensity = np.max(humidity)
heatmap_layer.point_radius = 2.5

In [208]:
m

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [209]:
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.

In [210]:
# specify criteria for Ideal cities
# use .drop() to drop null values
Ideal_Cities_df = City_List_Info_df.loc[(City_List_Info_df["Maximum Temp"] <= 80) & 
                      (City_List_Info_df["Maximum Temp"]>= 70) &
                      (City_List_Info_df["Wind Speed"] <= 10) & 
                      (City_List_Info_df["Cloud Coverage"] == 0)].dropna()

Ideal_Cities_df

,City Name,Latitude,Longitude,Maximum Temp,Humidity,Cloud Coverage,Wind Speed,Country,Date and Time
47,tukrah,32.5341,20.5791,79.47,75,0,4.07,LY,1628740937
187,mantua,45.1667,10.7833,74.08,84,0,4.09,IT,1628741033
189,salamiyah,35.0113,37.0532,77.72,54,0,2.82,SY,1628741035
223,krasnyy chikoy,50.3643,108.7512,74.82,52,0,2.84,RU,1628741060
316,cayenne,4.9333,-52.3333,76.08,89,0,0.00,GF,1628741119
396,jiayuguan,39.8167,98.3000,79.05,24,0,7.36,CN,1628741172
438,turayf,31.6725,38.6637,77.86,42,0,9.15,SA,1628741196
470,didi lilo,41.7361,44.9647,71.38,53,0,5.75,GE,1628741216
474,dekernes,31.0876,31.5950,75.69,77,0,2.37,EG,1628741221
535,cavaillon,43.8312,5.0359,70.99,83,0,4.61,FR,1628741246
594,mahon,39.8885,4.2658,77.56,88,0,5.75,ES,1628741272

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [211]:
# create hotel dataframe
hotel_df = Ideal_Cities_df.loc[:,["City Name","Country","Latitude","Longitude"]]

#Add "Hotel Name" column with no data to the hotel dataframe
hotel_df["Hotel Name"] = ""
hotel_df

          City Name Country  Latitude  Longitude Hotel Name
47           tukrah      LY   32.5341    20.5791
187          mantua      IT   45.1667    10.7833
189       salamiyah      SY   35.0113    37.0532
223  krasnyy chikoy      RU   50.3643   108.7512
316         cayenne      GF    4.9333   -52.3333
396       jiayuguan      CN   39.8167    98.3000
438          turayf      SA   31.6725    38.6637
470       didi lilo      GE   41.7361    44.9647
474        dekernes      EG   31.0876    31.5950
535       cavaillon      FR   43.8312     5.0359
594           mahon      ES   39.8885     4.2658

In [212]:
#Set parameters to search for hotels with 5000 meters.
url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [213]:
# iterate through each row in the hotel dataframe

print("-----Hotel Search Beginning---------------")
for index, row in hotel_df.iterrows():
    latitude = row["Latitude"]
    longitude = row["Longitude"]
    city_name = row["City Name"]
    
    params["location"] = f"{latitude},{longitude}"
    
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(url, params=params).json()
    results = response['results']
    
    #Save the hotel name to the dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
    except (KeyError, IndexError):
        print("Could not find Hotel in range of City")
        print("-------------------------")
        #delay the code by one second to avoid an error
        print("--------------------Next Hotel Search")
print("-----Hotel Search Complete---------------")

-----Hotel Search Beginning---------------
Retrieving Results for Index 47: tukrah.
Closest hotel in tukrah is مصيف مرحبا للعائلات.
Retrieving Results for Index 187: mantua.
Closest hotel in mantua is Casa San Domenico.
Retrieving Results for Index 189: salamiyah.
Closest hotel in salamiyah is Resort Safari Souria منتجع سفاري سورية.
Retrieving Results for Index 223: krasnyy chikoy.
Closest hotel in krasnyy chikoy is Sberbank.
Retrieving Results for Index 316: cayenne.
Closest hotel in cayenne is Grand Hotel Montabo.
Retrieving Results for Index 396: jiayuguan.
Closest hotel in jiayuguan is Nuojin Hotel.
Retrieving Results for Index 438: turayf.
Closest hotel in turayf is Golden Dune Hotel.
Retrieving Results for Index 470: didi lilo.
Closest hotel in didi lilo is Lilo.
Retrieving Results for Index 474: dekernes.
Could not find Hotel in range of City
-------------------------
--------------------Next Hotel Search
Retrieving Results for Index 535: cavaillon.
Closest hotel in cavaillon is ibis budget Cavaillon.
Retrieving Results for Index 594: mahon.
Closest hotel in mahon is Jardí de ses Bruixes Boutique Hotel.
-----Hotel Search Complete---------------

In [214]:
hotel_df

,City Name,Country,Latitude,Longitude,Hotel Name
47,tukrah,LY,32.5341,20.5791,مصيف مرحبا للعائلات
187,mantua,IT,45.1667,10.7833,Casa San Domenico
189,salamiyah,SY,35.0113,37.0532,Resort Safari Souria منتجع سفاري سورية
223,krasnyy chikoy,RU,50.3643,108.7512,Sberbank
316,cayenne,GF,4.9333,-52.3333,Grand Hotel Montabo
396,jiayuguan,CN,39.8167,98.3000,Nuojin Hotel
438,turayf,SA,31.6725,38.6637,Golden Dune Hotel
470,didi lilo,GE,41.7361,44.9647,Lilo
474,dekernes,EG,31.0876,31.5950,
535,cavaillon,FR,43.8312,5.0359,ibis budget Cavaillon
594,mahon,ES,39.8885,4.2658,Jardí de ses Bruixes Boutique Hotel

In [237]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City Name}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [253]:
# set base map and center based on median values of Latitude and Longitude
# of the Ideal Cities list.
hotel_map = gmaps.figure(center=(np.median(hotel_df.Latitude), np.median(hotel_df.Longitude)), zoom_level=2.5)
hotel_map

Figure(layout=FigureLayout(height='420px'))

In [250]:
#Plot Heatmap
heatmap_layer = gmaps.Heatmap(locations=locations, dissipating=False)

#Add Weighted Heatmap layer to map
hotel_map.add_layer(heatmap_layer)
heatmap_layer.point_radius = 3

In [251]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
hotel_map.add_layer(markers)


# Display hotel map
hotel_map

Figure(layout=FigureLayout(height='420px'))