In [1]:
 # Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time

# Import API key
from api_keys import g_key

#Access maps with unique API key
gmaps.configure(api_key=g_key)

In [2]:
city_weather_df = pd.read_csv("../WeatherPy/output_data/cities.csv")
city_weather_df

,City,Lat,Lng,Max Temp,Humidity,Clouds,Wind Speed,Country,Date
0,Sault Ste. Marie,46.52,-84.33,68.00,64,1,4.70,CA,1592537400
1,Port Elizabeth,-33.92,25.57,44.60,81,0,3.36,ZA,1592537400
2,Vangaindrano,-23.35,47.60,64.49,86,29,6.69,MG,1592537400
3,Avarua,-21.21,-159.78,73.40,69,59,9.17,CK,1592537400
4,Gobindapur,22.59,88.09,84.20,89,75,8.05,IN,1592537400
...,...,...,...,...,...,...,...,...,...
547,Potsdam,52.40,13.07,64.00,96,99,7.09,DE,1592537450
548,Zhigansk,66.77,123.37,77.29,27,0,7.45,RU,1592537450
549,eMkhomazi,-30.21,30.80,55.99,75,2,5.01,ZA,1592537450
550,Illela,13.73,5.30,85.60,52,100,11.05,NG,1592537450
551,Hunucmá,21.02,-89.87,79.00,78,75,6.93,MX,1592537450

In [3]:
# Humidity Heatmap------------------------------------------------------

In [4]:
#configure gmaps
gmaps.configure(api_key=g_key)

#Use the Lat and Lng as locations
locations = city_weather_df[["Lat","Lng"]]

#Add Heatmap layer to map
humidity = city_weather_df["Humidity"]

In [5]:
#Plot heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
#Add heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=np.max(humidity), point_radius=3)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
#Create new DataFrame fitting weather criteria-----------------------------------------

In [6]:
#Narrow down the cities to fit weather conditions
#Drop any rows will null values
smaller_city_df = city_weather_df.loc[(city_weather_df["Wind Speed"] <= 10) & (city_weather_df["Clouds"]== 0) & \
                  (city_weather_df["Max Temp"] >= 70) & (city_weather_df["Max Temp"] <= 80)].dropna()
smaller_city_df

,City,Lat,Lng,Max Temp,Humidity,Clouds,Wind Speed,Country,Date
71,Sumbe,-11.21,13.84,70.90,69,0,3.38,AO,1592537407
93,Havelock,34.88,-76.90,75.99,85,0,4.45,US,1592537405
197,Novorzhev,57.03,29.33,70.61,80,0,3.20,RU,1592537418
227,Yangi Marg`ilon,40.43,71.72,77.00,27,0,4.70,UZ,1592537420
252,Ulaangom,49.98,92.07,72.81,28,0,8.21,MN,1592537422
350,Ust-Maya,60.42,134.53,78.03,35,0,7.29,RU,1592537432
361,Saryozek,44.36,77.98,71.62,27,0,6.13,KZ,1592537433
370,São Filipe,14.90,-24.50,79.45,64,0,8.03,CV,1592537434
372,Huadian,42.96,126.75,77.34,46,0,5.26,CN,1592537434
416,Awjilah,29.11,21.29,74.91,29,0,5.64,LY,1592537438
548,Zhigansk,66.77,123.37,77.29,27,0,7.45,RU,1592537450

In [9]:
# Hotel Map-----------------------------------------------------

In [7]:
#Store into variable named hotel_df
hotel_df = smaller_city_df.loc[:,["City","Country","Lat","Lng"]]

#Add a "Hotel Name" column to the DataFrame
hotel_df["Hotel Name"] = ""
hotel_df

                City Country    Lat     Lng Hotel Name
71             Sumbe      AO -11.21   13.84
93          Havelock      US  34.88  -76.90
197        Novorzhev      RU  57.03   29.33
227  Yangi Marg`ilon      UZ  40.43   71.72
252         Ulaangom      MN  49.98   92.07
350         Ust-Maya      RU  60.42  134.53
361         Saryozek      KZ  44.36   77.98
370       São Filipe      CV  14.90  -24.50
372          Huadian      CN  42.96  126.75
416          Awjilah      LY  29.11   21.29
548         Zhigansk      RU  66.77  123.37

In [8]:
#Set parameters to search for hotels with 5000 meters.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [9]:
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    params["location"] = f"{lat},{lng}"
    
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    results = response['results']
    
    #Save the hotel name to the dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']
    except (KeyError, IndexError):
        print("Could not find result")
        print("-------------------------")
        #delay the code by one second to avoid an error
        time.sleep(1)
    print("--------------------Ending Search")

Retrieving Results for Index 71: Sumbe.
Closest hotel in Sumbe is Hotel Kalunda.
--------------------Ending Search
Retrieving Results for Index 93: Havelock.
Closest hotel in Havelock is Sherwood Motel.
--------------------Ending Search
Retrieving Results for Index 197: Novorzhev.
Could not find result
-------------------------
--------------------Ending Search
Retrieving Results for Index 227: Yangi Marg`ilon.
Closest hotel in Yangi Marg`ilon is Hotel Mehmon Saroy.
--------------------Ending Search
Retrieving Results for Index 252: Ulaangom.
Closest hotel in Ulaangom is Grand restaurant & hotel.
--------------------Ending Search
Retrieving Results for Index 350: Ust-Maya.
Could not find result
-------------------------
--------------------Ending Search
Retrieving Results for Index 361: Saryozek.
Closest hotel in Saryozek is Gostinitsa.
--------------------Ending Search
Retrieving Results for Index 370: São Filipe.
Closest hotel in São Filipe is Hotel Miramar Fogo Brava.
--------------------Ending Search
Retrieving Results for Index 372: Huadian.
Closest hotel in Huadian is Jialiyuan Hotel.
--------------------Ending Search
Retrieving Results for Index 416: Awjilah.
Could not find result
-------------------------
--------------------Ending Search
Retrieving Results for Index 548: Zhigansk.
Could not find result
-------------------------
--------------------Ending Search

In [10]:
#Display the hotel dataframe
hotel_df

                City Country    Lat     Lng                Hotel Name
71             Sumbe      AO -11.21   13.84             Hotel Kalunda
93          Havelock      US  34.88  -76.90            Sherwood Motel
197        Novorzhev      RU  57.03   29.33
227  Yangi Marg`ilon      UZ  40.43   71.72        Hotel Mehmon Saroy
252         Ulaangom      MN  49.98   92.07  Grand restaurant & hotel
350         Ust-Maya      RU  60.42  134.53
361         Saryozek      KZ  44.36   77.98                Gostinitsa
370       São Filipe      CV  14.90  -24.50  Hotel Miramar Fogo Brava
372          Huadian      CN  42.96  126.75           Jialiyuan Hotel
416          Awjilah      LY  29.11   21.29
548         Zhigansk      RU  66.77  123.37

In [11]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# Plot markers on top of the heatmap
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(markers)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))